<%= form_with model: @message do |f| %>
  <div class="modal-body p-5">
    <div class="alert alert-danger d-none"></div>
      <div class="row">
        <div class="col-12">
          <div class="form-group mb-5">
            <%= f.label :name, t('content.main.message.name'), for: "#{id}_name", class: 'text-muted d-block' %>
            <%= f.text_field :name, class: 'form-control', id: "#{id}_name" %>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group mb-5">
            <%= f.label :content, t('content.main.message.content'), for: "#{id}_content", class: 'text-muted d-block' %>
            <%= f.text_area :content, class: 'form-control', id: "#{id}_content" %>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group mb-5">
            <%= f.label :phone, t('content.main.message.phone'), for: "#{id}_phone", class: 'text-muted d-block' %>
            <%= f.text_field :phone, class: 'form-control', id: "#{id}_phone" %>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group mb-5">
            <%= f.label :email, t('content.main.message.email'), for: "#{id}_email", class: 'text-muted d-block' %>
            <%= f.email_field :email, class: 'form-control', id: "#{id}_email" %>
            <%= f.hidden_field :user_id, value: @user.id %>
          </div>
        </div>
        <div class="col-12">
          <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="confirmSubscribe">
            <label class="custom-control-label text-muted" for="confirmSubscribe"><%= t('content.main.message.accept_html', privacy: '/privacy-policy') %></label>
          </div>
        </div>
        <div class="col-12">
          <p class="text-primary mb-3"><i class="fas fa-info-circle"></i>  <%= t('content.main.message.recaptcha') %></p>
        </div>
      </div>

      <hr class='pb-2'>
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
          <%= f.button class: 'btn btn-outline-primary rounded mx-3', "data-dismiss": "modal" do %>
            <i class="fas fa-angle-left"></i> <%= t('content.main.buttons.back') %>
          <% end %>
          <%= f.submit t('content.main.buttons.save'), data: { disable_with: t('content.main.buttons.saving') }, class: 'btn btn-primary rounded', id: 'message-save' %>
          <!-- Update for domain in recaptcha required.
          <%= invisible_recaptcha_tags text: t('content.main.buttons.save'), data: { disable_with: t('content.main.buttons.saving') }, class: 'btn btn-primary rounded', id: 'message-save', disabled: true %>  -->
        </div>
      </div>
  </div>
<% end %>
