<div class="container middle-container-1 cvpage">
  <div class="pt-5">
    <h1 class="text-primary ml-2">
      <%= t('messages.details') %>
    </h1>
    <div class="card my-5 w-75 ml-3">
      <h5 class="card-header">
        <%= t('messages.header') %> <b><%= @message.name.upcase %></b>
      </h5>
      <div class="card-body">
        <h5 class="card-title mb-3">
          <b><%= t('messages.email') %>:- </b><%= @message.email %>
        </h5>
        <h5 class="card-text mb-2"><b><%= t('messages.message') %>:-</b>
        </h5>
        <p class="card-text mx-3"></b><%= @message.content %></p>
        <div class="d-flex justify-content-center mt-4">
          <%= link_to t('content.main.buttons.back'), :back, class: 'btn btn-lg btn-primary' %>
        </div>
      </div>
    </div>
  </div>
</div>
