<div class="container cvpage">
  <div class="pt-5">
    <h3 class="text-primary ml-3">
      <%= t('messages.details') %>
    </h3>
    <div class="card my-5 w-75 ml-3">
      <h5 class="card-header">
        <%= t('messages.header') %> <b><%= @message.name.upcase %></b>
      </h5>
      <div class="card-body">
        <h5 class="card-title mb-3">
          <b><%= t('messages.email') %>:- </b><%= @message.email %>
        </h5>
        <h5 class="card-text mb-2"><b><%= t('messages.message') %>:-</b>
        </h5>
        <p class="card-text mx-3"></b><%= @message.content %></p>
        <div class="d-flex justify-content-center mt-4">
          <%= link_to messages_path, class: 'btn btn-primary' do %>
            <%= t('content.main.buttons.back') %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
