<% experiences = @cv.custom_experience_sort ? @cv.experiences.by_position :  @cv.experiences.chronological_order %>

<% if experiences.present? %>
  <div class="border-top py-5 px-3 pl-md-6">
    <div class="d-flex align-items-center justify-content-between">
      <h6><%= t('content.main.cv.show.experience.title') %></h6>
    </div>

    <% experiences.each_with_index do |experience, index| %>
      <% has_website = experience.website_url.present? %>

      <div class="d-flex flex-row font-size-14 pt-4">
        <span class="badge badge-light h-100 p-1 pr-2 border">
          <% if has_website %>
            <%= wicked_pdf_image_tag "http://www.google.com/s2/favicons?domain=#{experience.website_url}" %>
          <% else %>
            <i class="fas fa-md fa-building text-light-2"></i>
          <% end %>
        </span>
        <div class="pr-5">
          <div class="pl-2 w-100 <%= (index == experiences.size - 1) ? '' : 'pb-5' %>" >
            <h6><%= experience.title %></h6>
            <h6 class="mb-1"><%= experience.company %></h6>
            <% if experience.location.present? %>
              <span><%= t('content.main.cv.show.experience.location', location: experience.location) %></span><br>
            <% end %>
            <% if has_website %>
              <p><a href="<%= experience.website_url %>" target="_blank"><%= experience.website_url %></a></p>
            <% end %>
            <p><%= work_period(experience.started_on, experience.ended_on) %></p>
            <p class="mb-0">Core Competencies: </p>
            <span><%= experience.description.presence %></span>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
