<div class="d-flex pl-3 pl-md-6 pr-2 pb-4">
  <div class="w-100">
    <div class="row flex-column-reverse flex-md-row">
      <div class="col-12 col-md-10 mt-2 mb-md-0">
        <h2><%= @cv.abbr_name %></h2>
        <h6 class="font-weight-normal"><%= birth_info_for(@cv) %></h6>
        <% if @user.current_location.present? %>
          <h6 class="font-weight-normal"><%= @user.current_location&.original_address %></h6>
        <% end %>

        <div class="row mt-4">
          <div class="col-12 col-md-6 col-lg-4 mb-3">
            <%= wicked_pdf_image_tag('icons/publicv-icon.svg', class: 'mr-2') %><%= @user.cv_public_url %>
          </div>
          <div class="col-12 col-lg-6"></div>
        </div>
      </div>

      <% if @cv.headshot.exists? %>
        <div class="col-12 col-md-2 mb-2 mb-md-0">
          <%= wicked_pdf_image_tag(@cv.headshot.url(:default), alt: "#{@cv.abbr_name} headshot", class: 'img-fluid') %>
        </div>
      <% end %>
    </div>
  </div>
</div>
