<div class="d-flex px-3 pl-md-6 pb-4">
  <div class="w-100">
    <div class="row flex-column-reverse flex-md-row">
      <div class="col-10">
        <h2><%= @cv.abbr_name %></h2>
        <h6 class="font-weight-normal"><%= birth_info_for(@cv) %></h6>
        <% if @user.current_location.present? %>
          <h6 class="font-weight-normal"><%= @user.current_location&.original_address %></h6>
        <% end %>

        <div class="row mt-4">
          <div class="col-12 col-md-6 col-lg-4 mb-2"><i class="icon-envelope mr-2"></i><%= @user.email %></div>
          <div class="col-12 col-lg-6"></div>
        </div>

        <% if @user.tel.present? %>
          <div class="row">
            <div class="col-12 col-md-6 col-lg-4 mb-2"><i class="icon-phone mr-2"></i><%= @user.tel %></div>
            <div class="col-12 col-lg-6"></div>
          </div>
        <% end %>

        <div class="row">
          <div class="col-12 col-md-6 col-lg-4 mb-3">
            <!-- Wicked pdf asset path issue with wepack assets on production env, use s3 URL instead -->
            <%= wicked_pdf_image_tag("//publicv-master.s3.eu-central-1.amazonaws.com/assets/publicv-icon.png", class: 'mr-2') %><%= link_to @user.cv_public_domain, @user.cv_public_url, target: '_blank' %>
          </div>
          <div class="col-12 col-lg-6"></div>
        </div>
        <div class="row">
          <div class="col-12 text-primary">
            <%= t('content.main.cv.pdf_tag_line') %>
          </div>
        </div>
      </div>

      <% if @cv.headshot.exists? %>
        <div class="col-2">
          <%= wicked_pdf_image_tag(@cv.headshot.url(:default), alt: "#{@cv.abbr_name} headshot", class: 'img-fluid') %>
        </div>
      <% end %>
    </div>
  </div>
</div>
