<% if @cv.working_skills.present? || @cv.skills.present? %>
  <div class="border-top py-5 px-3 pl-md-6 nobreak">
    <div class="d-flex align-items-center justify-content-between">
      <h6><%= t('content.main.cv.show.skills.title') %></h6>
    </div>

    <div class="row font-size-14">
      <% if @cv.working_skills.present? %>
        <div class="col-12 col-md-6 pt-4">
          <h6><%= t('content.main.cv.show.skills.working_skills') %></h6>
          <p><%= @cv.working_skills.presence %></p>
        </div>
      <% end %>
      <% if @cv.skills.present? %>
        <div class="col-12 col-md-6 pt-4">
          <h6><%= t('content.main.cv.show.skills.other_skills') %></h6>
          <p><%= @cv.skills.presence %></p>
        </div>
      <% end %>
      <% if @cv.learning_skills.present? %>
        <div class="col-12 col-md-6 pt-4">
          <h6><%= t('content.main.cv.show.skills.learning_skills') %></h6>
          <p><%= @cv.learning_skills.presence %></p>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
