<!-- Footer Container
  ================================================== -->
<footer>
  <div class="py-40 py-lg-80 border-top border-bottom">
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-5 mb-5 mb-lg-0">
          <div class="pb-4">
            <%= image_pack_tag 'images/logo.svg', class: 'img-fluid', alt: 'logo' %>
          </div>

          <div class="row ">
            <span class="col-12 text-muted font-size-14 py-3">Powered By</span>
            <div class="col-6 col-md-4 col-lg-5 col-xl-4 pr-4">
              <%= image_pack_tag 'images/logo_corsidia.svg', class: 'img-fluid', alt: 'logo' %>
            </div>
            <div class="col-6 col-md-4 col-lg-5 col-xl-5 pl-4">
              <%= image_pack_tag 'images/logo_bluebash.svg', class: 'img-fluid', alt: 'logo' %>
            </div>
          </div>

        </div>
        <div class="col-12 col-lg-7">
          <div class="row">
            <div class="col-12 col-md-6 mb-4 mb-md-0">
              <h5 class="mb-3"><%= t('layouts.footer.links') %></h5>
              <div class="row">
                <% unless user_signed_in? %>
                  <div class="col-6 mb-3"><a href=<%= new_user_session_path %> class="text-muted font-size-14"><i class="mr-2 fas fa-angle-right"></i><%= t('layouts.footer.sign_in') %></a></div>
                  <div class="col-6 mb-3"><a href=<%= new_user_registration_path %> class="text-muted font-size-14"><i class="mr-2 fas fa-angle-right"></i><%= t('layouts.footer.sign_up') %></a></div>
                <% end %>
                <div class="col-6 mb-3"><a rel="nofollow" href="/legal/privacy-policy" class="text-muted font-size-14"><i class="mr-2 fas fa-angle-right"></i><%= t('layouts.footer.privacy') %></a></div>
                <div class="col-6 mb-3"><a rel="nofollow"  href="/legal/cookie-policy" class="text-muted font-size-14"><i class="mr-2 fas fa-angle-right"></i><%= t('layouts.footer.cookie') %></a></div>
                <div class="col-6 mb-3"><a rel="nofollow"  href="/legal/terms" class="text-muted font-size-14"><i class="mr-2 fas fa-angle-right"></i><%= t('layouts.footer.terms') %></a></div>
                <!-- <div class="col-6 mb-3"><a href="/about" class="text-muted font-size-14"><i class="mr-2 fas fa-angle-right"></i>About Us</a></div> -->
              </div>
            </div>
            <div class="col-12 col-md-6">
              <h5 class="mb-3"><%= t('layouts.footer.contact_us') %></h5>
              <p class="mb-2 text-muted font-size-14">E-Mail: <a class="text-primary" href="mailto:info@publicv.org">info@publicv.org</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-40 w-100 text-center">
    <span class="text-muted font-size-14"><%== t('footer_1') -%></span>
    <p class="my-40">
      <a href="https://pledgeviewer.eu/pledge/initiative/659" target="_blank" rel="nofollow">
        <%= image_tag('eu-pledger-logo.png', width: '300', height: '150', alt: 'PubliCV is a pledge of the Digital Skills and Jobs Coalition') -%>
      </a><br/>
      <span class="text-muted font-size-14"><%== t('footer_2') -%></span>
    </p>
  </div>
</footer>
