<!-- Header Container
  ================================================== -->
<div class="position-fixed z-index-fixed w-100 bg-white shadow-sm">
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-light py-3 px-0">
      <%= link_to '/', class: 'navbar-brand' do %>
        <%= image_pack_tag 'images/logo.svg' %>
      <% end %>
      <button class="navbar-toggler bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="icon-menu"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto d-none d-md-flex">
          <li class="nav-item mx-3">
            <a class="nav-link badge badge-pill badge-primary badge-primary-light p-2 text-primary font-weight-normal" href="/about">
            About
            <!-- <i class="ml-1 fas fa-angle-down"></i> -->
            </a>
          </li>
        </ul>
        <% if user_signed_in? %>
          <div class="d-flex justify-content-between justify-content-md-start border-top border-md-0 pt-3 pt-md-0 mt-3 mt-md-0">
            <% unless request.path == cv_section_path(current_user.subdomain) %>
              <%= link_to 'Edit Your CV', cv_section_path(current_user.subdomain), class: 'btn btn-lg btn-outline-primary mr-2' %>
            <% end %>
            <%= link_to t('layouts.nav.logout'), destroy_user_session_path, method: :delete, class: 'btn btn-lg btn-primary ml-2' %>
          </div>
        <% else %>
          <div class="d-flex justify-content-between justify-content-md-start border-top border-md-0 pt-3 pt-md-0 mt-3 mt-md-0">
            <%= link_to t('layouts.nav.create_your_cv'), new_user_registration_path, class: 'btn btn-lg btn-outline-primary mr-2' %>
            <button class="btn btn-lg btn-primary ml-2"><%= t('layouts.nav.hire_someone') %></button>
          </div>
        <% end %>
      </div>
    </nav>
  </div>

  <% if params[:controller] == 'cvs' && params[:action] == 'show' %>
    <%= render partial: 'cvs/topbar' %>
  <% end %>
</div>
<!-- Header Container / End -->

<script type="text/javascript">
  window.searchResultsList = [];
</script>
