<!-- Header Container
  ================================================== -->
<div class="position-fixed z-index-fixed w-100 bg-white shadow-sm">
  <section class="navigation">
    <div class="container">
      <div class="brand">
        <%= link_to(root_domain_url , "data-turbolinks": "false") do %>
          <% if current_user.present? %>
            <span class="brand-icon"><%= current_user.first_name %>'s </span>
          <% end %>
          <%= image_pack_tag 'media/images/new_logo.svg' %>
        <% end %>
        <% if !current_user.present? %>
          <span class="text-primary ml-md-2 overflow-hidden">
            <span class="nav-text"><%= t('layouts.nav.presentation') %></span>
          </span>
        <% end %>
      </div>
      <nav class="nav-main">
        <div class="nav-mobile"><a id="nav-toggle" class="bg-white"><span></span></a></div>
        <ul class="nav-list" id="overlay-navbar">
          <li class="mr-5 d-none d-xl-flex">
            <a class="nav-link badge badge-pill badge-primary badge-primary-light mt-1 p-2 text-primary font-weight-normal" href="/#why">
              About
            </a>
          </li>
          <% if current_user.present? %>
            <div class="d-flex justify-content-between justify-content-md-start border-top border-md-0 pt-3 pt-md-0 mt-md-0">
              <div class="pb-2 edit-cv" id="edit-your-CV">
                <% unless request.path == cv_section_path(current_user.subdomain) %>
                  <%= link_to t('layouts.nav.edit_your_cv'), cv_section_path(current_user.subdomain) , class: 'btn btn-lg btn-outline-primary mx-2'%>
                <% end %>
              </div>
              <button class="btn text-primary notification pb-0" type="button" id="dropdownButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <p class="notification">
                  <h5 class ="fas fa-envelope mb-0 font-size-32" ></h5>
                  <p class="badge-info rounded-circle counter <%= 'd-none' if @all_messages.count == 0 %>"><%= @all_messages.count %></p>
                </p>
              </button>
              <div class="dropdown-menu dropdown-menu-right border-0 shadow mt-2" aria-labelledby="dropdownMenuButton">
                <% @all_messages.order(created_at: :desc).first(4).each do |message| %>
                  <%= link_to message_path(message.id), class: 'text-decoration-none' do %>
                    <div class="dropdown-item py-2 badge-primary-lt">
                      <%= t('messages.dropdown') %><b> <%= message.name.capitalize %></b>
                    </div>
                  <% end %>
                <% end %>
                <hr class="my-1">
                <%= link_to t('layouts.nav.messages'), messages_path, class: 'dropdown-item py-2 badge-primary-lt font-weight-bold' %>
              </div>
              <li>
                <button class="btn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <%= image_tag(current_user.cv.headshot.url(:default), alt: "profile-pic", class: 'img-fluid rounded-circle', width: '32') %>
                  <span class="mx-2">Hi <%= "#{current_user.first_name}!" %></span>
                  <i class="fas fa-angle-down"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-right border-0 shadow mt-2" aria-labelledby="dropdownMenuButton" >
                  <% if current_user.role?('admin') %>
                    <div>
                      <%= link_to t('navbar.admin_text'), admin_dashboard_path , class: 'dropdown-item py-2 badge-primary-lt'%>
                    </div>
                  <% end %>
                  
                  <div>
                    <%= link_to t('layouts.nav.preference'), users_preferences_path, class: 'dropdown-item py-2 badge-primary-lt' %>
                  </div>
                  <div>
                    <%= link_to t('layouts.nav.logout'), users.sign_out_path, data: { method: :delete }, class: 'dropdown-item py-2 badge-primary-lt' %>
                  </div>
                  <div>
                    <%= link_to t('layouts.nav.delete_account'), account_path(current_user), method: :delete, remote: true, data: {confirm: t('content.main.confirm.delete_account') }, class: 'dropdown-item py-2 badge-primary-lt' %>
                  </div>
                </div>
              </li>
            </div>
          <% else %>
            <li class="pb-2 ml-2">
              <%= link_to t('layouts.nav.create_cv'), registration_url, class: 'btn btn-lg btn-outline-primary' %>
            </li>
            <li class="pb-2 ml-2">
              <%= link_to t('layouts.nav.edit_your_cv'), session_url, class: 'btn btn-lg btn-outline-primary' %>
            </li>
            <li class="pb-2">
              <a class="btn btn-lg btn-primary ml-2" href="/#search">
                <%= t('layouts.nav.hire_someone') %>
              </a>
            </li>
            <li>
              <div class="ml-2">
                <select class="custom-select language-switcher" onchange="location = this.value;">
                  <option value="<%= language_options('it', @user) %>">Italian</option>
                  <option value="<%= language_options('en', @user) %>">English</option>
                </select>
              </div>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </section>
</div>
<!-- Header Container / End -->
<%= render partial: 'layouts/shared/js_vars' %>
<style>
#nav-toggle:after {
  content: "<%= t('layouts.nav.menu') %>";
  display: block;
  font-size: 16px !important;
  color: #91076c;
  margin-top: -11px;
  margin-left: -48px;
}
</style>
