<%= @newsletter.content.html_safe %>

<div style="text-align: center;">
  <% if @user.confirmed? %>
    <%= I18n.t('mailer.unsubscribe_text1') %>
  <% else %>
    <%= I18n.t('mailer.confirm_or_unsubscribe_text1') %>
    <%= link_to I18n.t('mailer.account_confirmation_link'), confirmation_url(@user, confirmation_token: @user.confirmation_token) %>
    OR
  <% end %>
  <%= link_to I18n.t('mailer.unsubscribe_link'), unsubscribe_preference_url(Mailkick.generate_token(@user.email, user: @user)) %>

  <% if @user.confirmed? %>
    <%= I18n.t('mailer.unsubscribe_text2') %>
  <% else %>
    <%= I18n.t('mailer.confirm_or_unsubscribe_text2') %>
  <% end %>
</div>
