<%= form_with model: [:cv, @language], local: false do |f| %>
  <div class="modal-body p-5">
    <div class="alert alert-danger d-none"></div>
      <div class="row">
        <div class="col-12">
          <div class="form-group mb-5">
            <%= f.label :language, t('content.main.cv.new.language.language'), for: "#{id}_language", class: 'text-muted d-block' %>
            <%= f.text_field :language, class: 'form-control', id: "#{id}_language" %>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group mb-5">
            <%= f.label :level, t('content.main.cv.new.language.level'), for: "#{id}_level", class: 'text-muted d-block' %>
            <%= f.select :level, options_from_collection_for_select(cefr_level_options, :first, :last), {},
            class: 'custom-select form-control', id: "#{id}_level" %>
          </div>
        </div>
      </div>
      <hr class='pb-2'>
      <div class="row">
        <div class="col-12 text-center">
          <%= f.button class: 'btn btn-outline-primary rounded mx-3', "data-dismiss": "modal" do %>
            <i class="fas fa-angle-left"></i> <%= t('content.main.buttons.back') %>
          <% end %>
          <%= f.submit t('content.main.buttons.save'), data: { disable_with: t('content.main.buttons.saving') }, class: 'btn btn-primary rounded' %>
        </div>
      </div>
  </div>
<% end %>
