<% _slim_controls1 = render 'shared/modal_header', id: 'edit_cv_extras', title: t('content.main.cv.edit.extras.title') do
_slim_controls2 = form_with model: @cv do |f|
 %><div class="modal-body">
<div class="alert alert-danger">
</div><div class="needs-validation" novalidate="">
<div class="row">
<div class="col-12 mb-3">
<%= ::Temple::Utils.escape_html((f.label :interests, t('content.main.cv.show.interests'))) %>
<%= ::Temple::Utils.escape_html((f.text_area :interests, class: 'form-control', rows: 3)) %>
</div></div><div class="row">
<div class="col-12">
<%= ::Temple::Utils.escape_html((f.label :future_plans, t('content.main.cv.show.future_plans'))) %>
<%= ::Temple::Utils.escape_html((f.text_area :future_plans, class: 'form-control', rows: 3)) %>
</div></div></div></div><div class="modal-footer">
<%= ::Temple::Utils.escape_html((f.button t('content.main.buttons.reset'), type: :reset, class: 'btn btn-standard')) %>
<%= ::Temple::Utils.escape_html((f.submit t('content.main.buttons.save'), class: 'btn btn-standard')) %>
</div><% end %><%= ::Temple::Utils.escape_html((_slim_controls2)) %><% end %><%= ::Temple::Utils.escape_html((_slim_controls1)) %>
