<%= render 'shared/modal_header', id: 'edit_cv_intro', title: t('content.main.cv.edit.intro.title') do %>
  <%= form_with model: @cv, html: { multipart: true } do |f| %>
    <div class="modal-body p-5">
      <div class="alert alert-danger d-none"></div>
      <div class="row">
        <div class="col-12 col-xl-11">
          <div class="row">
            <%= f.fields_for :user, @cv.user do |user_fields| %>
              <div class="col-12 col-xl-6">
                <div class="form-group mb-5">
                  <%= user_fields.label :first_name, t('content.main.cv.edit.intro.first_name'), class: 'text-muted d-block' %>
                  <%= user_fields.text_field :first_name, class: 'form-control form-control-lg', placeholder: 'First Name', "aria-label" => "first_name" %>
                </div>
              </div>

              <div class="col-12 col-xl-6">
                <div class="form-group mb-5">
                  <%= user_fields.label :last_name, t('content.main.cv.edit.intro.last_name'), class: 'text-muted d-block' %>
                  <%= user_fields.text_field :last_name, class: 'form-control form-control-lg', placeholder: 'Last Name', "aria-label" => "last_name" %>
                </div>
              </div>

              <div class="col-12 col-xl-6">
                <div class="form-group mb-5">
                  <%= user_fields.label :tel, t('content.main.cv.edit.intro.email'), class: 'text-muted d-block' %>
                  <%= user_fields.email_field :email, class: 'form-control form-control-lg bg-light', placeholder: 'Email', "aria-label" => "email", disabled: true %>
                </div>
              </div>

              <div class="col-12 col-xl-6">
                <div class="form-group mb-5">
                  <%= user_fields.label :tel, t('content.main.cv.edit.intro.tel'), class: 'text-muted d-block' %>
                  <%= user_fields.text_field :tel, class: 'form-control form-control-lg', placeholder: 'Telephone', "aria-label" => "telephone" %>
                </div>
              </div>
            <% end %>

            <div class="col-12">
              <%= f.label :birth_date, t('content.main.cv.edit.intro.birth_date'), class: "text-muted d-block" %>
              <div class="d-flex w-100 mb-5">
                <div class="w-25">
                  <small class="text-muted">Day</small>
                  <%= f.select :birth_day, options_for_select((1..31).to_a.insert(0, nil), f.object.birth_day), {}, class: 'custom-select custom-select-lg' %>
                </div>
                <div class="mx-3 w-50">
                  <small class="text-muted">Month</small>
                  <%= f.select :birth_month, options_for_select(Date::MONTHNAMES, f.object.birth_month), {}, class: 'custom-select custom-select-lg' %>
                </div>
                <div class="w-25">
                  <small class="text-muted">Year</small>
                  <%= f.select :birth_year, options_for_select((1900..(Date.current.year - 20)).to_a.reverse.insert(0, nil), f.object.birth_year), {}, class: 'custom-select custom-select-lg' %>
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="col-12 mb-5">
          <label class="d-block text-muted">Gender</label>
          <div class="custom-control custom-radio custom-control-inline">
            <%= f.radio_button :gender, "m", id: "maschile", class: 'radio-input custom-control-input' %>
            <%= f.label :gender, for: "maschile", class: 'custom-control-label text-muted' do %>
            <%= t('content.main.cv.show.male') %>
            <% end %>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <%= f.radio_button :gender, "f", id:"femminile", class: 'radio-input custom-control-input' %>
            <%= f.label :gender, for: "femminile", class: 'custom-control-label text-muted' do %>
              <%= t('content.main.cv.show.female') %>
            <% end %>
          </div>
          <div class="custom-control custom-radio custom-control-inline">
            <%= f.radio_button :gender, "", id:"prefer_not_disclose", class: 'radio-input custom-control-input' %>
            <%= f.label :gender, for: "prefer_not_disclose", class: 'custom-control-label text-muted' do %>
              <%= t('content.main.cv.show.prefer_not_to_disclose') %>
            <% end %>
          </div>
        </div>

        <%= f.fields_for :user, @cv.user do |user| %>
          <%= user.fields_for :current_location, @cv.user.current_location.present? ? @cv.user.current_location : @cv.user.build_current_location do |location| %>
            <div class="autocomplete col-11">
              <div class="form-group mb-5">
                <%= location.label :original_address, t('content.main.cv.new.location.city'), for: "edit_cv_intro_address", class: 'text-muted d-block' %>
                <%= location.text_field :original_address, autocomplete: 'off', class: 'form-control', id: "edit_cv_intro_address" %>
                <div class="autocomplete-results position-absolute" id="edit_cv_intro_results">
                  <ul>
                  </ul>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>

        <div class="col-12">
          <div class="custom-control custom-checkbox mb-5">
            <%= f.check_box :publish_last_name, class: 'custom-control-input' %>
            <%= f.label :publish_last_name, t('content.main.cv.edit.intro.publish_last_name'), class: 'custom-control-label text-muted d-block' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 text-right">
          <%= f.button t('content.main.buttons.reset'), type: :reset, class: 'btn btn-outline-primary rounded mx-3' %>
          <%= f.submit t('content.main.buttons.save'), class: 'btn btn-primary rounded' %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<script>
  initAutocomplete('edit_cv_intro', '<%= api_token %>');
</script>
