<%= render 'shared/modal_header', id: 'edit_cv_skills', title: t('content.main.cv.edit.skills.title') do %>
  <%= form_with model: @cv do |f| %>
    <div class="modal-body p-5">
      <div class="alert alert-danger d-none"></div>
      <div class="needs-validation" novalidate="">
        <div class="row">
          <div class="col-12">
            <div class="form-group mb-5">
              <%= f.label :working_skills, t('content.main.cv.edit.skills.working_skills'), class: 'text-muted d-block' %>
              <%= f.text_field :working_skills,  placeholder: t('content.main.cv.show.working_skills.placeholder'), class: 'form-control form-control-lg', "aria-label" => "working_skills" %>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group mb-5">
              <%= f.label :skills, t('content.main.cv.edit.skills.other_skills'), class: 'text-muted d-block' %>
              <%= f.text_field :skills, placeholder: t('content.main.cv.show.other_skills.placeholder'), class: 'form-control', "aria-label" => "skills" %>
            </div>
          </div>
          <div class="col-12">
            <div class="form-group mb-5">
              <%= f.label :learning_skills, t('content.main.cv.edit.skills.learning_skills'), class: 'text-muted d-block' %>
              <%= f.text_field :learning_skills, placeholder: t('content.main.cv.show.learning_skills.placeholder'), class: 'form-control', "aria-label" => "learning_skills" %>
            </div>
          </div>
        </div>

        <hr class='pb-2'>
        <div class="row">
          <div class="col-12 text-center">
            <%= f.button class: 'btn btn-outline-primary rounded mx-3', "data-dismiss": "modal" do %>
              <i class="fas fa-angle-left"></i> <%= t('content.main.buttons.back') %>
            <% end %>
            <%= f.submit t('content.main.buttons.save'), class: 'btn btn-primary rounded' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
