<%= render 'shared/modal_header', id: 'edit_cv_summary', title: t('content.main.cv.edit.summary.title') do %>
  <%= form_with model: @cv do |f| %>
    <div class="modal-body p-5">
      <div class="alert alert-danger d-none"></div>
      <div class="needs-validation" novalidate="">
        <div class="row">
          <div class="col-12">
            <div class="form-group mb-5">
              <div class="d-flex justify-content-between">
                <%= f.label :about, t('content.main.cv.show.about'), class: 'text-muted d-block ml-1' %>
                <%= tooltip_icon('summary') %>
              </div>
              <%= f.text_area :about, class: 'form-control form-control-lg limit-desc', rows: 8, "aria-label" => "about" %>
              <span class="text-muted">0/1000</span>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 text-right">
            <%= f.button t('content.main.buttons.reset'), type: :reset, class: 'btn btn-outline-primary rounded' %>
            <%= f.submit t('content.main.buttons.save'), class: 'btn btn-primary rounded submit-dt' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
