<!-- Content Container
================================================== -->
<div class="middle-container-1">
  <!-- Map
  ================================================== -->
  <div class="map-container position-relative" id="search">
    <div class="row mx-0">
      <div class="col-12 px-0 map-image-container">
        <div class="google-map" id="map"></div>
        <%= render partial: 'shared/map' %>
      </div>
    </div>
    <div class="w-100 position-absolute map-search">
      <div class="row mx-0">
        <div class="col-11 col-lg-6 mx-auto py-2 map-search-container">
          <%= form_tag searches_path do %>
          <div class="d-flex justify-content-between">
            <div class="w-100">
              <%= text_field_tag :search_query, params[:search_query], placeholder: t('search.placeholder'), class: 'form-control form-control-lg border-0' %>
            </div>
            <div>
              <%= submit_tag t('content.main.search.home'), data: { disable_with: t('content.main.buttons.searching') }, class: 'btn btn-primary' %>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-light pt-40">
    <div class="text-center pb-40">
      <h5 class="text-primary"><%= t('.last_cvs') -%></h5>
    </div>

    <div class="container scroller">
      <div class="d-flex align-items-center">
        <% @featured_cvs.each do |cv| %>
          <div class="mb-5">
            <div class="card card-width shadow-sm border-0 rounded mr-4 card-feature">
              <%= link_to cv_section_path(cv.user.subdomain) do %>
                <div class="card-body p-4">
                  <div class="pb-3 d-flex align-items-center justify-content-between border-bottom">
                    <%= image_tag(cv.headshot.url(:default), alt: "#{cv.abbr_name} headshot", class: 'img-fluid rounded-circle default-img-size') %>
                    <div class="pl-3">
                      <h6 class="text-dark"><%= cv.abbr_name %></h6>
                        <% if cv.user.current_location.present? && cv.user.current_location.city.present? %>
                          <small class="text-dark">
                            <i class="fas fa-map-marker"></i>
                            <%= cv.user&.current_location&.city %>
                          </small>
                        <% end %>
                        <span class="badge badge-pill badge-primary badge-primary-light text-primary font-weight-normal font-size-9 text-wrap text-left mt-2">
                          <%= short_desc(cv.about, 40) %>
                        </span>
                    </div>
                  </div>
                  <div class="pt-3 d-flex align-items-center justify-content-between">
                    <small class="text-dark">
                      <%= cv.updated_at&.strftime("%B %d, %Y") %>
                    </small>
                    <small>
                        <i class="ml-2 fas fa-angle-right"></i> publi<b>CV</b>
                    </small>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
       </div>
    </div>
       <div class="text-center pb-40"><%== t('.created_last_30_days', count: @cvs_last_created_count) -%> <%== t('.updated_last_30_days', count: @cvs_last_updated_count) -%></div>
  </div>
  <div class="container pt-40 pt-md-80">
    <div class="text-center" id="why">
      <h3 class="text-primary"><%= t('.why') -%> <%= image_pack_tag 'images/logo.svg', class: 'img-fluid', alt: 'logo' %> ?</h3>
      <p class="text-center"><%== t('.because') -%></p>
    </div>
  </div>
  <div class="container py-40 py-md-80">
    <div class="row">
      <div class="col-12 col-lg-6 pr-xl-5">
        <h4 class="pb-40"><%== t('home.index.jobseeker') -%></h4>
        <div class="d-flex pb-40">
          <i class="fas fa-check-circle text-primary mr-2 pt-1"></i>
          <span class="ml-2"><%== t('home.index.jobseeker_copy_3') -%></span>
        </div>
        <div>
          <div class="d-flex pb-40">
            <i class="fas fa-check-circle text-primary mr-2 pt-1"></i>
            <span class="ml-2"><%== t('home.index.jobseeker_copy_1') -%></span>
          </div>
          <div class="d-flex pb-40">
            <i class="fas fa-check-circle text-primary mr-2 pt-1"></i>
            <span class="ml-2"><%== t('home.index.jobseeker_copy_2') -%></span>
          </div>
          <div class="d-flex pb-40">
            <i class="fas fa-check-circle text-primary mr-2 pt-1"></i>
            <span class="ml-2"><%== t('home.index.jobseeker_copy_4') -%></span>
          </div>
          <div class="d-flex pb-40">
            <i class="fas fa-check-circle text-primary mr-2 pt-1"></i>
            <span class="ml-2"><%== t('home.index.jobseeker_copy_5') -%></span>
          </div>
        </div>
        <div class="pt-4 pt-lg-40">
          <%= link_to new_user_registration_path, class: 'btn btn-primary' do %>
          <%= t('home.index.jobseeker_cta') %> <i class="fas fa-angle-right"></i>
          <% end %>
        </div>
      </div>

      <div class="col-12 col-lg-6 mt-40 mt-lg-0 pl-xl-5">
        <h4 class="pb-40"><%== t('home.index.company') -%></h4>
        <div>
          <div class="d-flex pb-40">
            <i class="fas fa-check-circle text-primary mr-2 pt-1"></i>
            <span class="ml-2">
              <%== t('home.index.company_copy_1') -%>
            </span>
          </div>
          <div class="d-flex pb-40">
            <i class="fas fa-check-circle text-primary mr-2 pt-1"></i>
            <span class="ml-2">
              <%== t('home.index.company_copy_2') -%>
            </span>
          </div>
          <div class="d-flex pb-40">
            <i class="fas fa-check-circle text-primary mr-2 pt-1"></i>
            <span class="ml-2">
              <%== t('home.index.company_copy_3') -%>
            </span>
          </div>
          <div class="d-flex pb-40">
            <i class="fas fa-check-circle text-primary mr-2 pt-1"></i>
            <span class="ml-2">
              <%== t('home.index.company_copy_4') -%>
            </span>
          </div>
          <div class="d-flex pb-40">
            <i class="fas fa-check-circle text-primary mr-2 pt-1"></i>
            <span class="ml-2">
              <%== t('home.index.company_copy_5') -%>
            </span>
          </div>
        </div>
        <div class="pt-4 pt-lg-40">
          <a class="btn btn-primary" href='#search'> <%= t('home.index.company_cta') -%> <i class="fas fa-angle-right"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div id="stakeholder" class="bg-light py-40 my-40">
    <div class="container text-center">
      <div class="text-center">
        <h3 class="text-primary"><%== t('home.index.stakeholder') -%></h3>
        <span><%== t('home.index.stakeholder_why') -%></span>
      </div>
    </div>
  </div>

  <div class="container pt-40 pt-lg-80">
    <div class="row">
      <div class="col-12 col-md-6 pt-40 pb-3 py-md-80">
        <div class="pr-0 pr-md-80 d-flex flex-column justify-content-center h-100">
          <div><span class="badge badge-danger font-weight-normal align-middle mb-2">Live</span></div>
          <h5><%== t('home.index.stakeholder_why_1') -%></h5>
          <span><%== t('home.index.stakeholder_copy_1') -%></span>
        </div>
      </div>
      <div class="col-12 col-md-6 pt-3 pb-40 py-md-80">
        <%= image_pack_tag 'images/globe.png', class: 'img-fluid', alt: 'globe' %>
      </div>
    </div>
    <div class="row flex-md-row flex-column-reverse">
      <div class="col-12 col-md-6 pt-3 pb-40 py-lg-80">
        <%= image_pack_tag 'images/gift.png', class: 'img-fluid', alt: 'gift' %>
      </div>
      <div class="col-12 col-md-6 pt-40 pb-3 py-md-80">
        <div class="pl-0 pl-md-80 d-flex flex-column justify-content-center h-100">
          <div><span class="badge badge-success font-weight-normal align-middle mb-2">Free</span></div>
          <h5><%== t('home.index.stakeholder_why_2') -%></h5>
          <span><%== t('home.index.stakeholder_copy_2') -%></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 pt-40 pb-3 py-md-80">
        <div class="pr-0 pr-md-80 d-flex flex-column justify-content-center h-100">
          <h5 class="mb-3"><%== t('home.index.stakeholder_why_3') -%></h5>
          <span><%== t('home.index.stakeholder_copy_3') -%></span>
        </div>
      </div>
      <div class="col-12 col-md-6 pt-3 pb-40 py-md-80">
        <%= image_pack_tag 'images/stamp.png', class: 'img-fluid', alt: 'stamp' %>
      </div>
    </div>
    <div class="row flex-md-row flex-column-reverse">
      <div class="col-12 col-md-6 pt-3 pb-40 py-md-80">
        <%= image_pack_tag 'images/no-tracking.png', class: 'img-fluid', alt: 'no-tracking' %>
      </div>
      <div class="col-12 col-md-6 pt-40 pb-3 py-md-80">
        <div class="pl-0 pl-md-80 d-flex flex-column justify-content-center h-100">
          <h5><%== t('home.index.stakeholder_why_4') -%></h5>
          <span><%== t('home.index.stakeholder_copy_4') -%></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 pt-40 pb-3 py-md-80">
        <div class="pr-0 pr-md-80 d-flex flex-column justify-content-center h-100">
          <h5 class="mb-3"><%== t('home.index.stakeholder_why_5') -%></h5>
          <span class="font-weight-normal mb-5"><%== t('home.index.stakeholder_copy_5') -%></span>
          <a href="https://github.com/publicv-org/publicv" class="text-primary"><i class="fab fa-github"></i> GitHub <i class="ml-2 fas fa-angle-right"></i></a>
        </div>
      </div>
      <div class="col-12 col-md-6 pt-3 pb-80 py-md-80">
        <%= image_pack_tag 'images/open-source.png', class: 'img-fluid', alt: 'open-source' %>
      </div>
    </div>
  </div>
</div>

<div id="popular-searches" class="bg-light py-40 my-40">
  <div class="container">
    <div class="text-center">
      <h3 class="text-primary">Popular Searches</h3>
    </div>
    <div class="row">
      <% @featured_searches.in_groups_of(5) do |featured_searches_group| %>
        <div class="col-md-4">
          <ul>
            <% featured_searches_group.each do |search| %>
              <% next unless search %>
              <li><%= link_to(search.seo_title, search) %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>

<style>
  .mapboxgl-map { overflow: unset !important; }
</style>
<script type="text/javascript">
  window.currentLatLng = <%= @coordinates %>;
  window.searchResultsList = <%= raw @formatted_results.to_json %>
</script>
