<!-- Content Container
  ================================================== -->
<div class="middle-container-1">
  <!-- Map
    ================================================== -->
  <div class="map-container position-relative">
    <div class="row mx-0">
      <div class="col-12 px-0 map-image-container">
        <%= image_pack_tag 'images/full-map.svg' %>
      </div>
    </div>
    <div class="enable-btn position-absolute">
      <button class="btn btn-primary font-size-14"><i class="icon-mouse mr-2"></i>Enable Scrolling</button>
    </div>
    <div class="w-100 position-absolute map-search">
      <div class="row mx-0">
        <div class="col-11 col-lg-10 mx-auto py-2 map-search-container">
          <div class="row">
            <div class="col-12 col-lg-4 border-lg-right mb-3 mb-lg-0">
              <input class="form-control form-control-lg border-lg-0" placeholder="What skills you are looking for?">
            </div>
            <div class="col-12 col-lg-4 border-lg-right mb-3 mb-lg-0">
              <div class="input-with-icon-append">
                <i class="icon-location-pin text-muted"></i>
                <input class="form-control form-control-lg border-lg-0 pr-40" placeholder="Location">
              </div>
            </div>
            <div class="col-12 col-lg-4 mb-3 mb-lg-0">
              <div class="d-flex flex-column flex-lg-row">
                <select data-placeholder="All Categories" class="custom-select w-100 border-lg-0 mr-0 mr-lg-5 mb-3 mb-lg-0" id="inputGroupSelect02">
                  <option>All Categories</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
                <div>
                  <button class="btn btn-primary">Search</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-light py-40 py-md-80">
    <div class="container px-0">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="d-flex align-items-center overflow-auto">
              <div class="mb-5">
                <div class="card card-width shadow-sm border-0 rounded mx-3">
                  <div class="card-body p-4">
                    <div class="pb-3 d-flex align-items-center justify-content-between border-bottom">
                      <%= image_pack_tag 'images/user-avtar-2.svg', class: "img-fluid rounded-circle", alt: 'avatar' %>
                      <div class="">
                        <h6>Jane Diana</h6>
                        <span class="badge badge-pill badge-primary badge-primary-light text-primary font-weight-normal font-size-9">
                        LEAD UX DESIGNER
                        </span>
                      </div>
                    </div>
                    <div class="pt-3 d-flex align-items-center justify-content-between">
                      <small>January 24, 2020</small>
                      <small><a href="#">View CV <i class="ml-2 fas fa-angle-right"></i></a></small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-5">
                <div class="card card-width shadow-sm border-0 rounded mx-3">
                  <div class="card-body p-4">
                    <div class="pb-3 d-flex align-items-center justify-content-between border-bottom">
                      <%= image_pack_tag 'images/user-avtar-1.svg', class: "img-fluid", alt: 'avatar' %>
                      <div class="">
                        <h6>Jane Diana</h6>
                        <span class="badge badge-pill badge-primary badge-primary-light text-primary font-weight-normal font-size-9">
                        LEAD UX DESIGNER
                        </span>
                      </div>
                    </div>
                    <div class="pt-3 d-flex align-items-center justify-content-between">
                      <small>January 24, 2020</small>
                      <small><a href="#">View CV <i class="ml-2 fas fa-angle-right"></i></a></small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-5">
                <div class="card card-width shadow-sm border-0 rounded mx-3">
                  <div class="card-body p-4">
                    <div class="pb-3 d-flex align-items-center justify-content-between border-bottom">
                      <%= image_pack_tag 'images/user-avtar-2.svg', class: "img-fluid", alt: 'avatar' %>
                      <div class="">
                        <h6>Jane Diana</h6>
                        <span class="badge badge-pill badge-primary badge-primary-light text-primary font-weight-normal font-size-9">
                        LEAD UX DESIGNER
                        </span>
                      </div>
                    </div>
                    <div class="pt-3 d-flex align-items-center justify-content-between">
                      <small>January 24, 2020</small>
                      <small><a href="#">View CV <i class="ml-2 fas fa-angle-right"></i></a></small>
                    </div>
                  </div>
                </div>
              </div>
              <div class="mb-5">
                <div class="card card-width shadow-sm border-0 rounded mx-3">
                  <div class="card-body p-4">
                    <div class="pb-3 d-flex align-items-center justify-content-between border-bottom">
                      <%= image_pack_tag 'images/user-avtar-1.svg', class: "img-fluid", alt: 'avatar' %>
                      <div class="">
                        <h6>Jane Diana</h6>
                        <span class="badge badge-pill badge-primary badge-primary-light text-primary font-weight-normal font-size-9">
                        LEAD UX DESIGNER
                        </span>
                      </div>
                    </div>
                    <div class="pt-3 d-flex align-items-center justify-content-between">
                      <small>January 24, 2020</small>
                      <small><a href="#">View CV <i class="ml-2 fas fa-angle-right"></i></a></small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container pt-40 pt-md-80">
    <div class="border-bottom">
      <h3>Why PubliCV?</h3>
      <p class="mb-3">Lorem ipsum dolor sit amet</p>
    </div>
  </div>
  <div class="container py-40 py-md-80">
    <div class="row">
      <div class="col-12 col-md-6 col-xl-4 mb-5">
        <div class="card border-0 h-100">
          <div class="card-body py-0 pl-0 pr-5">
            <h4 class="mb-3">Jobseekers</h4>
            <p class="mb-5">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing habitant massa aliquet enim.
            </p>
            <%= link_to t('home.create_your_cv_now'), new_user_registration_path, class: 'btn btn-lg btn-primary' %>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-4 mb-5">
        <div class="card rounded h-100">
          <div class="card-body p-4">
            <i class="icon-globe-alt font-size-32"></i>
            <h5 class="my-3">Global public CV</h5>
            <span class="text-muted">
            Instead of being buried under some agency’s drawer, your CV will be public. Like ours: Duccio, Vishal, Anuj.
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-4 mb-5">
        <div class="card rounded h-100">
          <div class="card-body p-4">
            <i class="icon-globe-alt font-size-32"></i>
            <h5 class="my-3">It’s digital and effective</h5>
            <span class="text-muted">
            Standard CVs are ugly, ineffective and outdated. PubliCV is the new standard for digital CVs. You will be guided to create yours, download pdf or send it via a public link.
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-4 mb-5 mb-xl-0">
        <div class="card rounded h-100">
          <div class="card-body p-4">
            <i class="icon-globe-alt font-size-32"></i>
            <h5 class="my-3">We put you first</h5>
            <span class="text-muted">
            We put you first. Your CV will be live at: your-name.publicv.org and this will be your professional page.
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-4 mb-5 mb-xl-0">
        <div class="card rounded h-100">
          <div class="card-body p-4">
            <i class="icon-globe-alt font-size-32"></i>
            <h5 class="my-3">Find a job and get paid</h5>
            <span class="text-muted">
            PubliCV is straight to the point: you’re not here to make friends, connect to people, build your network, being monitored by your HR, nor tweet like a bird… You’re here to find a job and get paid for it.
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-4 mb-5 mb-xl-0">
        <div class="card rounded h-100">
          <div class="card-body p-4">
            <i class="icon-globe-alt font-size-32"></i>
            <h5 class="my-3">We value your time</h5>
            <span class="text-muted">
            Value your time by being contacted only by Companies that are willing to show real interest or even pay to contact you.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container py-0 py-md-80">
    <div class="row">
      <div class="col-12 col-md-6 col-xl-4 mb-5">
        <div class="card border-0 h-100">
          <div class="card-body py-0 pl-0 pr-5">
            <h4 class="mb-3">Company</h4>
            <p class="mb-5">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Adipiscing habitant massa aliquet enim.
            </p>
            <button class="btn btn-lg btn-primary">Hire Candidate Now</button>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-4 mb-5">
        <div class="card rounded h-100">
          <div class="card-body p-4">
            <i class="icon-globe-alt font-size-32"></i>
            <h5 class="my-3">Search to hire candidates</h5>
            <span class="text-muted">
            Access immediately a searchable database of candidates to/for hire. As and when required to fill open Vacancies.
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-4 mb-5">
        <div class="card rounded h-100">
          <div class="card-body p-4">
            <i class="icon-globe-alt font-size-32"></i>
            <h5 class="my-3">Direct contact</h5>
            <span class="text-muted">
            Cut the middlemen out: contact directly the candidates you like.
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-4 mb-5 mb-xl-0">
        <div class="card rounded h-100">
          <div class="card-body p-4">
            <i class="icon-globe-alt font-size-32"></i>
            <h5 class="my-3">We stay out of deal</h5>
            <span class="text-muted">
            Hire directly the people you chose. We’ll stay out of any agreement between you and your candidate. We will not profit from their wages.
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-4 mb-5 mb-xl-0">
        <div class="card rounded h-100">
          <div class="card-body p-4">
            <i class="icon-globe-alt font-size-32"></i>
            <h5 class="my-3">Save time, save money</h5>
            <span class="text-muted">
            Save time and money because you pay only if you need to contact several candidates for the same job at the same time. Please note that during this crisis this service will be completely free.
            </span>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-xl-4 mb-5 mb-xl-0">
        <div class="card rounded h-100">
          <div class="card-body p-4">
            <i class="icon-globe-alt font-size-32"></i>
            <h5 class="my-3">Genuine and interested only</h5>
            <span class="text-muted">
            Avoid the time-wasters: we’ll go great lengths to keep CVs up to date. If the CV is here it is very likely that the person behind it is genuinely interested in a job.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container pt-40 pt-lg-80">
    <div class="border-bottom">
      <h3>Stakeholder</h3>
      <p class="mb-3">Lorem ipsum dolor sit amet</p>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 pt-40 pb-3 py-md-80">
        <div class="pr-0 pr-md-80 d-flex flex-column justify-content-center h-100">
          <div><span class="badge badge-danger font-weight-normal align-middle mb-2">Live</span></div>
          <h5>PubliCV <span class="font-weight-normal">went live on May, 1st 2020 for a good reason.</span></h5>
        </div>
      </div>
      <div class="col-12 col-md-6 pt-3 pb-40 py-md-80">
        <%= image_pack_tag 'images/globe.png', class: 'img-fluid', alt: 'globe' %>
      </div>
    </div>
    <div class="row flex-md-row flex-column-reverse">
      <div class="col-12 col-md-6 pt-3 pb-40 py-lg-80">
        <%= image_pack_tag 'images/gift.png', class: 'img-fluid', alt: 'gift' %>
      </div>
      <div class="col-12 col-md-6 pt-40 pb-3 py-md-80">
        <div class="pl-0 pl-md-80 d-flex flex-column justify-content-center h-100">
          <div><span class="badge badge-success font-weight-normal align-middle mb-2">Free</span></div>
          <h5>Facing COVID-19 together.</h5>
          <h5>PubliCV <span class="font-weight-normal">will be free during this crisis.</span></h5>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 pt-40 pb-3 py-md-80">
        <div class="pr-0 pr-md-80 d-flex flex-column justify-content-center h-100">
          <h5 class="mb-3">B Corp with a simple business model</h5>
          <span>After, it will become a B-Corp with a simple business model: contacting one candidate at a time, by hand, putting your time into writing a message to them, will be always free. Contacting more than one candidate simultaneously will cost a reasonable fee with no spam</span>
        </div>
      </div>
      <div class="col-12 col-md-6 pt-3 pb-40 py-md-80">
        <%= image_pack_tag 'images/stamp.png', class: 'img-fluid', alt: 'stamp' %>
      </div>
    </div>
    <div class="row flex-md-row flex-column-reverse">
      <div class="col-12 col-md-6 pt-3 pb-40 py-md-80">
        <%= image_pack_tag 'images/no-tracking.png', class: 'img-fluid', alt: 'no-tracking' %>
      </div>
      <div class="col-12 col-md-6 pt-40 pb-3 py-md-80">
        <div class="pl-0 pl-md-80 d-flex flex-column justify-content-center h-100">
          <h5>No Tracking</h5>
          <span>We do not employ any tracking technology. All we know about you is what you included in your publiCV. You can <span class="text-danger">delete</span> it at any time.</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 pt-40 pb-3 py-md-80">
        <div class="pr-0 pr-md-80 d-flex flex-column justify-content-center h-100">
          <h5 class="mb-3">Open Source</h5>
          <h5 class="font-weight-normal mb-5">Most of the code is and will stay opensource.</h5>
          <span class="text-primary">Git Hub <i class="ml-2 fas fa-angle-right"></i></span>
        </div>
      </div>
      <div class="col-12 col-md-6 pt-3 pb-80 py-md-80">
        <%= image_pack_tag 'images/open-source.png', class: 'img-fluid', alt: 'open-source' %>
      </div>
    </div>
  </div>
</div>
