<div class="container middle-container-1 cvpage">
  <div class="pt-5">
    <h1 class="text-primary ml-2">
      <%= t('contacts.head') %>
    </h1>
    <div class="table-responsive-sm">
      <table class="table table-striped table-bordered my-5">
        <thead>
          <tr class="box-header table-active">
            <th><%= t('contacts.name') %></th>
            <th><%= t('contacts.email') %></th>
            <th><%= t('contacts.phone') %></th>
            <th><%= t('contacts.message') %></th>
            <th><%= t('contacts.received_at') %></th>
            <th class="text-center"><%= t('contacts.status') %></th>
            <th class="text-center"><%= t('contacts.actions') %></th>
          </tr>
        </thead>
        <tbody>
          <% @contacts.each do |contact| %>
            <tr>
              <td><%= contact.name %></td>
              <td><%= contact.email %></td>
              <td><%= contact.phone %></td>
              <td><%= link_to short_desc(contact.message, 40), contact_path(contact.id), class: 'show_message' %></td>
              <td><%= contact.created_at %></td>
              <td class="text-center pt-3"><%= contact_label(contact) %></td>
              <td class="text-center">
                <%= link_to contact_path(contact.id) do %>
                  <i class="fa fa-eye fa_icon mr-2"></i>
                <% end %>
                <% if contact.status == 'spam'%>
                  <%= link_to contact_path(contact.id, contact: { status: 'not a spam' }), method: :put do %>
                    <i class="fa fa-flag mt-2 fa_icon text-success"></i>
                  <% end %>
                <% else %>
                  <%= link_to contact_path(contact.id, contact: { status: 'spam' }), method: :put do %>
                    <i class="fa fa-flag mt-2 fa_icon text-danger"></i>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="d-flex justify-content-center mb-5">
        <%= paginate @contacts, window: 2 %>
      </div>
    </div>
  </div>
</div>
