<%= form_with model: [:cv, @experience] do |f| %>
  <div class="modal-body p-5">
    <div class="alert alert-danger d-none"></div>
      <div class="row">
        <div class="col-12">
          <div class="form-group mb-5">
            <%= f.label :title, t('content.main.cv.new.experience.job_title'), for: "#{id}_title", class: 'text-muted d-block' %>
            <%= f.text_field :title, class: 'form-control', id: "#{id}_title" %>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group mb-5">
            <%= f.label :company, t('content.main.cv.new.experience.company'), for: "#{id}_company", class: 'text-muted d-block' %>
            <%= f.text_field :company, class: 'form-control', id: "#{id}_company" %>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group mb-5">
            <%= f.label :website_url, t('content.main.cv.new.experience.website_url'), for: "#{id}_website_url", class: 'text-muted d-block' %>
            <%= f.text_field :website_url, class: 'form-control', id: "#{id}_website_url" %>
          </div>
        </div>
        <div class="autocomplete col-12">
          <div class="form-group mb-5">
            <%= f.label :location, t('content.main.cv.new.experience.location'), for: "#{id}_location", class: 'text-muted d-block' %>
            <%= f.text_field :location, autocomplete: 'off', class: 'form-control', id: "#{id}_address" %>
            <div class="autocomplete-results position-absolute" id="<%= id %>_results">
              <ul>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group mb-5">
            <%= f.label :started_on, t('content.main.cv.new.experience.from'), for: "#{id}_started_on", class: 'text-muted d-block' %>
            <%= f.date_select :started_on, { start_year: Date.current.year, end_year: 1900, discard_day: true,
            order: %i[day month year], include_blank: true }, class: 'custom-select form-control' %>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group mb-5">
            <%= f.label :ended_on, t('content.main.cv.new.experience.to'), for: "#{id}_ended_on", class: 'text-muted d-block' %>
            <%= f.date_select :ended_on, { start_year: Date.current.year, end_year: 1900, discard_day: true, order: %i[day month year], include_blank: true }, class: 'custom-select form-control' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="form-group mb-5">
            <%= f.label :description, t('content.main.cv.show.entries.description'), for: "#{id}_description", class: 'text-muted d-block'%>
            <%= f.text_area :description, class: 'form-control limit-desc', rows: 8, id: "#{id}_description" %>
            <span class="text-muted">0/1000</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 text-right">
          <%= f.button t('content.main.buttons.reset'), type: :reset, class: 'btn btn-outline-primary rounded' %>
          <%= f.submit t('content.main.buttons.save'), data: { disable_with: t('content.main.buttons.saving') }, class: 'btn btn-primary rounded submit-dt' %>
        </div>
      </div>
  </div>
<% end %>

<script>
  initAutocomplete('<%= id %>', '<%= api_token %>');
</script>
