<% if @cv_edit_controls || @cv.interests.present? || @cv.future_plans.present? %>
  <div class="border-top py-5 pl-3 pl-md-6 pr-2">
    <div class="d-flex align-items-center justify-content-between">
      <h6><%= t('content.main.cv.show.extras') %></h6>
      <% if @cv_edit_controls %>
        <%= link_to edit_cv_section_path(section: :extras), remote: true do %>
          <span class="badge rounded-circle badge-primary-light text-primary p-2"><i class="icon-pencil"></i></span>
        <% end %>
      <% end %>
    </div>

    <div class="row font-size-14">
      <% if @cv.interests.present? %>
        <div class="col-12 col-md-6 pt-5">
          <h6><%= t('content.main.cv.show.interests') %></h6>
          <p><%= @cv.interests.presence %></p>
        </div>
      <% end %>

      <% if @cv.future_plans.present? %>
        <div class="col-12 col-md-6 pt-5">
          <h6><%= t('content.main.cv.show.future_plans') %></h6>
          <p><%= @cv.future_plans.presence %></p>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
