<div class="d-flex pl-3 pl-md-6 pr-2 pb-4">
  <div class=" w-100">
    <div class="row flex-column-reverse flex-md-row">
      <div class="col-12 col-md-9 mt-2 mb-md-0">
        <div class="d-flex justify-content-between justify-content-md-start">
          <h2><%= cv_user_name(@cv) %></h2>
          <% if @cv_edit_controls %>
            <%= link_to edit_cv_section_path(section: :intro), remote: true, class: 'btn-cv btn-edit mt-2 ml-4' do %>
              <span class="badge rounded-circle badge-primary-light text-primary p-2"><i class="icon-pencil"></i></span>
            <% end %>
          <% end %>
        </div>
        <h6 class="font-weight-normal"><%= birth_info_for(@cv) %></h6>
        <% if @user.current_location.present? %>
          <h6 class="font-weight-normal"><%= @user.current_location&.original_address %></h6>
        <% end %>

        <div class="row mt-4">
          <% if @cv_edit_controls %>
            <div class="col-12 col-md-6 col-lg-6 mb-3"><i class="icon-envelope mr-2"></i><%= @user.email %><i class="far fa-file-pdf ml-2"><%= t('content.main.cv.pdf_only') %></i></div>
            <div class="col-12 col-lg-4"></div>
            <% if @user.tel.present? %>
              <div class="col-12 col-md-6 col-lg-4 mb-3"><i class="icon-phone mr-2"></i><%= @user.tel %><i class="far fa-file-pdf ml-2"><%= t('content.main.cv.pdf_only') %></i></div>
              <div class="col-12 col-lg-6"></div>
            <% end %>
          <% end %>

          <div class="col-12 col-md-6 col-lg-4 mb-3">
            <%= image_pack_tag 'icons/publicv-icon.svg', class: 'mr-2' %><%= link_to @user.cv_public_domain, @user.cv_public_url, target: '_blank' %>
          </div>
          <div class="col-12 col-lg-6"></div>
        </div>

        <% unless @cv_edit_controls %>
          <div class="row">
            <%= link_to "Contact #{@user.first_name}", new_contact_path("contact[user_id]" => @user.id), class: "btn btn-outline-primary btn-sm mx-2", remote: true %>
          </div>
        <% end %>
      </div>

      <% if @cv_edit_controls || @cv.headshot.exists? %>
        <div class="col-12 col-md-3 mb-2 mb-md-0 headshot-edit">
          <%= image_tag(@cv.headshot.url(:default), alt: "#{@cv.abbr_name} headshot", class: 'img-fluid') %>
          <% if @cv_edit_controls %>
            <%= link_to edit_cv_section_path(section: :headshot), remote: true, class: 'btn-cv btn-edit popup-text' do %>
              <span class="badge rounded-circle p-2 edit-btn"><i class="icon-pencil"></i></span>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
