<div class="cv-intro position-relative mb-3">
  <div class="photo float-right mb-3 ml-3">
    <%= image_tag( @cv.headshot.url(:default), alt: "#{@cv.abbr_name} headshot") %>
  </div>
  <h3><%= @cv.abbr_name %></h3>
  <p>
    <%= @cv.gender_female? ? 'Nata' : 'Nato' %> a <%= @cv.birth_place %> il
    <%= l(@cv.birth_date, format: :long) if @cv.birth_date.present? %>.
  </p>
  <p><%= @cv.about.presence %></p>
  <div class="clearfix"></div>
  <%= link_to 'Add new location', new_location_path, remote: true %>
  <% current_user.locations.chronological_order.each do |location| %>
  <div class="entry position-relative mb-3">
    <h6><%= location.city %></h6>
    <p>
      <%= location.original_address %>
    </p>
    <p>
    <%= location.geocoded_address %>
  </p>
  <p>
  <%= "Coords: #{location.latitude} | #{location.longitude}" %>
</p>
<%= link_to 'Edit', edit_location_path(location), remote: true %>
|
<%= link_to 'Delete', location_path(location), method: :delete, data: { confirm: t('confirmation') } %>
</div>
<% end %>
<%= link_to edit_cv_section_path(section: :intro), remote: true, class: 'btn-cv btn-edit top-right' do %>
  <i class="fas fa-pencil-alt"> </i>
<% end %>
</div>
<hr class="mb-3" />
