<div class="d-flex pl-3 pl-md-6 pr-2 pb-4">
  <div class="row w-100 flex-column-reverse flex-md-row">
    <div class="col-12 col-md-10 mt-2 mb-md-0">
      <h2><%= @cv.abbr_name %></h2>
      <h6 class="font-weight-normal"><%#= birth_info_for(@cv) %></h6>
      <% if @user.current_location.present? %>
        <h6 class="font-weight-normal"><%= @user.current_location&.original_address %></h6>
      <% end %>

      <div class="row mt-4">
        <% if @cv_edit_controls %>
          <div class="col-12 col-md-6 col-lg-4 mb-3"><i class="icon-envelope mr-2"></i><%= @user.email %></div>
          <div class="col-12 col-lg-6"></div>
          <% if @user.tel.present? %>
            <div class="col-12 col-md-6 col-lg-4 mb-3"><i class="icon-phone mr-2"></i><%= @user.tel %></div>
            <div class="col-12 col-lg-6"></div>
          <% end %>
        <% end %>

        <div class="col-12 col-md-6 col-lg-4 mb-3">
          <%= image_pack_tag 'icons/publicv-icon.svg', class: 'mr-2' %><%= @user.cv_public_url %>
        </div>
        <div class="col-12 col-lg-6"></div>
      </div>
    </div>

    <% if @cv_edit_controls || @cv.headshot.exists? %>
      <div class="col-12 col-md-2 mb-2 mb-md-0">
        <%= image_tag(@cv.headshot.url(:default), alt: "#{@cv.abbr_name} headshot", class: 'img-fluid') %>
      </div>
    <% end %>
  </div>

  <% if @cv_edit_controls %>
    <%= link_to edit_cv_section_path(section: :intro), remote: true, class: 'btn-cv btn-edit top-right' do %>
      <span type="button" class="badge rounded-circle badge-primary-light text-primary p-2 ml-2"><i class="icon-pencil"></i></span>
    <% end %>
  <% end %>
</div>
