<div class="border-top pt-5 pl-3 pl-md-6 pr-2">
  <div class="d-flex align-items-center justify-content-between">
    <h6><%= t('content.main.cv.show.skills.title') %></h6>
    <%= link_to edit_cv_section_path(section: :skills), remote: true do %>
      <span class="badge rounded-circle badge-primary-light text-primary p-2"><i class="icon-pencil"></i></span>
    <% end %>
  </div>

  <div class="d-flex flex-row font-size-14 pt-5">
    <div class="ml-2 pb-5 border-bottom w-100">
      <h6><%= t('content.main.cv.show.skills.working_skills') %></h6>
      <p><%= @cv.working_skills.presence %></p>
      <h6><%= t('content.main.cv.show.skills.other_skills') %></h6>
      <p><%= @cv.skills.presence %></p>
    </div>
  </div>
</div>
