<div class="border-top">
  <div class="container">
    <div class="d-flex flex-column flex-md-row align-items-center justify-content-between py-3">
      <% if @cv_edit_controls %>
        <div class="w-100 pb-3 pb-md-0">
          <h6 class="d-inline-block pr-3 border-right">CV</h6>
          <h6 class="d-inline-block px-3"><%= @cv.user&.first_name %></h6>
          <span class="rounded-circle badge badge-primary-light text-primary p-2"><i class="icon-pencil"></i></span>
        </div>
      <% end %>

      <div class="d-flex align-items-center justify-content-start justify-content-md-end border-top border-md-0 w-100 pt-3 pt-md-0">
        <% if @cv_edit_controls %> <!-- When CV owner is in edit mode ====== -->
          <%= link_to 'Preview', cv_section_path(current_user.subdomain, preview: 't'), class: 'btn btn-primary mx-2' %>

          <% if @cv.published? %>
            <%= link_to 'Unpublish', cv_path("cv[published]" => "0"), method: :put, class: 'btn btn-outline-primary mx-2' %>
          <% else %>
            <%= link_to 'Publish', cv_path("cv[published]" => "1"), method: :put, class: 'btn btn-outline-primary mx-2' %>
          <% end %>

          <div class="dropdown">
            <button class="btn btn-outline-primary" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= t('content.main.buttons.download') %><i class="fas fa-angle-down pl-1"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right border-0 shadow mt-2" aria-labelledby="dropdownMenuButton">
              <%= link_to cv_download_path(format: :pdf), method: :put, class: 'dropdown-item py-2' do %>
                <i class="fas fa-arrow-circle-down mr-2"></i><%= t('content.main.cv.show.pdf') %>
              <% end %>
            </div>
          </div>

        <% elsif @user.present? && params[:preview] == 't' %> <!-- When CV owner is in preview mode ====== -->
          <%= link_to 'Exit preview', cv_section_path(current_user.subdomain), class: 'btn btn-primary mx-2' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
