<div class="container mt-3">
<%= ::Temple::Utils.escape_html((render 'cvs/cv_sections/intro')) %>
<%= ::Temple::Utils.escape_html((render 'cvs/cv_sections/experience')) %>
<%= ::Temple::Utils.escape_html((render 'cvs/cv_sections/education')) %>
<%= ::Temple::Utils.escape_html((render 'cvs/cv_sections/languages')) %>
<%= ::Temple::Utils.escape_html((render 'cvs/cv_sections/skills')) %>
<%= ::Temple::Utils.escape_html((render 'cvs/cv_sections/extras')) %>
</div>
