<!-- CV sections
================================================== -->
<div class="container middle-container-2 cvpage pb-40 pb-md-80">
  <% if can? :update, @cv %>
    <% if @cv.published? %>
      <p class="border-bottom border-primary text-muted py-3 mb-0">
        <i class="icon-info mr-2"></i>
        <%= t('content.main.cv.show.published') %>
      </p>
    <% else %>
      <p class="border-bottom border-primary text-muted py-3 mb-0">
        <i class="icon-info mr-2"></i>
        <%= t('content.main.cv.show.unpublished') %>
      </p>
    <% end %>
  <% end %>

  <div class="border-top border-primary">
    <div class="border <%= 'pt-6' if can? :update, @cv %>">
      <% unless can? :update, @cv %>
        <% if user_signed_in? %>
          <% if @cv.flagged_by?(current_user.id) %>
            <h4 class="text-right text-primary pt-2 mr-2">
              <i class="fa fa-flag"></i>
            </h4>
          <% else %>
            <%= link_to('#', data: { toggle: 'modal', target: '#newFlagModal',
                        url: new_cvs_flag_path(cv_id: @cv.id)},
                        id: 'flag-cv') do %>
              <h4 class="text-right text-primary pt-2 mr-2">
                <i class="fas fa-ellipsis-h"></i>
              </h4>
            <% end %>
          <% end %>
        <% else %>
          <%= link_to new_user_session_path do %>
            <h4 class="text-right text-primary pt-2 mr-2">
              <i class="fas fa-ellipsis-h"></i>
            </h4>
          <% end %>
        <% end %>
      <% end %>
      <% cache show_page_cache_key(@cv), expires_in: 1.hour do %>
        <div class="intro-section">
          <%= render 'cvs/cv_sections/intro' %>
        </div>
        <%#= render 'cvs/cv_sections/locations' %>
        <div class="summary-section">
          <%= render 'cvs/cv_sections/summary' %>
        </div>
        <div class="experience-section">
          <%= render 'cvs/cv_sections/experience' %>
        </div>
        <div class="education-section">
          <%= render 'cvs/cv_sections/education' %>
        </div>
        <div class="languages-section">
          <%= render 'cvs/cv_sections/languages' %>
        </div>
        <div class="skills-section">
          <%= render 'cvs/cv_sections/skills' %>
        </div>
        <div class="extras-section">
          <%= render 'cvs/cv_sections/extras' %>
        </div>
        <div class="authorization-section">
          <%= render 'cvs/cv_sections/authorization' %>
        </div>
      <% end %>
    </div>

    <% unless edit_mode? %>
      <div class="row mt-2 justify-content-center">
        <%= link_to "Contact #{@user.first_name}", new_message_path("message[user_id]" => @user.id), class: "btn btn-outline-primary mx-2", remote: true %>
      </div>
    <% end %>
  </div>
</div>
<%= render(partial: 'shared/custom') %>
<%= render(partial: 'cvs/flags/new') %>
<script>
flag_icon = document.getElementById('flag-cv')
if (flag_icon) {
  document.getElementById('flag-cv').addEventListener('click',function(e) {
    $("#flag-modal-body").load(this.getAttribute("data-url"));
  })
}
</script>
