<!-- CV sections
================================================== -->
<div class="container middle-container-2 cvpage pb-40 pb-md-80">
  <% if @user.present? && @cv_edit_controls.present? %>
    <% if @cv.published? %>
      <p class="border-bottom border-primary text-muted py-3 mb-0">
        <i class="icon-info mr-2"></i>
        <%= t('content.main.cv.show.published') %>
      </p>
    <% else %>
      <p class="border-bottom border-primary text-muted py-3 mb-0">
        <i class="icon-info mr-2"></i>
        <%= t('content.main.cv.show.unpublished') %>
      </p>
    <% end %>
  <% end %>

  <div class="border-top border-primary">
    <div class="border pt-6">
      <div class="intro-section">
        <%= render 'cvs/cv_sections/intro' %>
      </div>
      <%#= render 'cvs/cv_sections/locations' %>
      <div class="summary-section">
        <%= render 'cvs/cv_sections/summary' %>
      </div>
      <div class="experience-section">
        <%= render 'cvs/cv_sections/experience' %>
      </div>
      <div class="education-section">
        <%= render 'cvs/cv_sections/education' %>
      </div>
      <div class="languages-section">
        <%= render 'cvs/cv_sections/languages' %>
      </div>
      <div class="skills-section">
        <%= render 'cvs/cv_sections/skills' %>
      </div>
      <div class="extras-section">
        <%= render 'cvs/cv_sections/extras' %>
      </div>
      <div class="authorization-section">
        <%= render 'cvs/cv_sections/authorization' %>
      </div>
    </div>

    <% unless @cv_edit_controls %>
      <div class="row mt-2 justify-content-center">
        <%= link_to "Contact #{@user.first_name}", new_contact_path("contact[user_id]" => @user.id), class: "btn btn-outline-primary mx-2", remote: true %>
      </div>
    <% end %>
  </div>
</div>
<%= render(partial: 'shared/custom') %>
