<%= form_with model: [:cv, @education] do |f| %>
  <div class="modal-body p-5">
    <div class="alert alert-danger d-none"></div>
      <div class="row">
        <div class="col-12">
          <div class="form-group mb-5">
            <%= f.label :school, t('content.main.cv.new.education.school'), for: "#{id}_school", class: 'text-muted d-block' %>
            <%= f.text_field :school, class: 'form-control', id: "#{id}_school" %>
          </div>
        </div>
        <div class="col-12">
          <div class="form-group mb-5">
            <%= f.label :degree, t('content.main.cv.new.education.degree'), for: "#{id}_degree", class: 'text-muted d-block' %>
            <%= f.text_field :degree, class: 'form-control', id: "#{id}_degree" %>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group mb-5">
            <%= f.label :started_on, t('content.main.cv.show.education.started_on'), for: "#{id}_started_on", class: 'text-muted d-block' %>
            <%= f.date_select :started_on, { start_year: Date.current.year, end_year: 1900, discard_day: true,
            discard_month: true, include_blank: true }, class: 'custom-select form-control' %>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group mb-5">
            <%= f.label :ended_on, t('content.main.cv.show.education.ended_on'), for: "#{id}_ended_on", class: 'text-muted d-block' %>
            <%= f.date_select :ended_on, { start_year: Date.current.year, end_year: 1900, discard_day: true,
            discard_month: true, include_blank: true }, class: 'custom-select form-control' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="form-group mb-5">
            <%= f.label :description, t('content.main.cv.show.entries.description'), for: "#{id}_description", class: 'text-muted d-block'%>
            <%= f.text_area :description, class: 'form-control limit-desc', rows: 8, id: "#{id}_description" %>
            <span class="text-muted">0/1000</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 text-right">
          <%= f.button t('content.main.buttons.reset'), type: :reset, class: 'btn btn-outline-primary rounded' %>
          <%= f.submit t('content.main.buttons.save'), data: { disable_with: t('content.main.buttons.saving') }, class: 'btn btn-primary rounded submit-dt' %>
        </div>
      </div>
  </div>
<% end %>
