<!-- CV sections
================================================== -->
<div class="container middle-container-2 cvpage pb-40 pb-md-80">
  <div class="border-top border-primary">
    <div class="border py-6">
      <%= render 'cvs/printings/cv_sections/intro' %>
      <%= render 'cvs/printings/cv_sections/summary' %>
      <%= render 'cvs/printings/cv_sections/experience' %>
      <%= render 'cvs/printings/cv_sections/education' %>
      <%= render 'cvs/printings/cv_sections/languages' %>
      <%= render 'cvs/printings/cv_sections/skills' %>
      <%= render 'cvs/printings/cv_sections/extras' %>
    </div>
  </div>
</div>
