<!DOCTYPE html>
<html>
  <head>
    <title>Publicv</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'stylesheets', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <% if user_signed_in? %>
          <%= link_to t('layouts.nav.personal_cv'), root_path %>
          <%= link_to t('layouts.nav.search'), '#' %>
          <%= link_to t('layouts.nav.logout'), destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to t('layouts.nav.login'), new_user_session_path %>
        <% end %>
      </nav>
    </header>
    <div class="container flex">
      <main>
        <% if notice %>
          <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
        <%= yield %>
      </main>
      <footer>
        <p><%= t('layouts.footer.footer_text') %></p>
      </footer>
    </div>
  </body>
</html>
