<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>publiCV</title>

    <%= wicked_pdf_stylesheet_pack_tag 'application' %>
    <%= wicked_pdf_javascript_pack_tag 'application' %>
    <%= wicked_pdf_stylesheet_link_tag 'https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap' %>
    <%= yield :header %>
    <style>
      .d-flex {
        display: -webkit-box;
        display: flex;
      }
      .row {
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
      }
      .row > div {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        flex: 1; }
      .font-weight-bold {
        font-weight: 600 !important;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
