<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PublicV</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">


    <link rel="shortcut icon" href="/favicon.png">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <link rel="stylesheet" href="/theme/css/style.css">
    <link rel="stylesheet" href="/theme/css/main-color.css" id="colors">

    <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <%= render partial: 'layouts/theme/header'%>
      <%= yield %>
    <%= render partial: 'layouts/theme/footer'%>
  </body>

  <!-- JS Global Compulsory -->
    <script type="text/javascript" src="/theme/scripts/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="/theme/scripts/jquery-migrate-3.1.0.min.js"></script>
    <script type="text/javascript" src="/theme/scripts/mmenu.min.js"></script>
    <script type="text/javascript" src="/theme/scripts/chosen.min.js"></script>
    <script type="text/javascript" src="/theme/scripts/slick.min.js"></script>
    <script type="text/javascript" src="/theme/scripts/rangeslider.min.js"></script>
    <script type="text/javascript" src="/theme/scripts/magnific-popup.min.js"></script>
    <script type="text/javascript" src="/theme/scripts/waypoints.min.js"></script>
    <script type="text/javascript" src="/theme/scripts/counterup.min.js"></script>
    <script type="text/javascript" src="/theme/scripts/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/theme/scripts/tooltips.min.js"></script>
    <script type="text/javascript" src="/theme/scripts/custom.js"></script>

    <!-- Google Autocomplete -->
    <script>
      function initAutocomplete() {
        var input = document.getElementById('autocomplete-input');
        var autocomplete = new google.maps.places.Autocomplete(input);

        autocomplete.addListener('place_changed', function() {
          var place = autocomplete.getPlace();
          if (!place.geometry) {
            return;
          }
        });

      if ($('.main-search-input-item')[0]) {
          setTimeout(function(){ 
              $(".pac-container").prependTo("#autocomplete-container");
          }, 300);
      }
    }
    </script>

    <!-- Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&callback=initAutocomplete"></script>
    <script type="text/javascript" src="/theme/scripts/infobox.min.js"></script>
    <script type="text/javascript" src="/theme/scripts/markerclusterer.js"></script>
    <script type="text/javascript" src="/theme/scripts/maps.js"></script>



    <!-- Style Switcher
    ================================================== -->
    <script src="/theme/scripts/switcher.js"></script>

    <div id="style-switcher">
      <h2>Color Switcher <a href="#"><i class="sl sl-icon-settings"></i></a></h2>
      
      <div>
        <ul class="colors" id="color1">
          <li><a href="#" class="main" title="Main"></a></li>
          <li><a href="#" class="blue" title="Blue"></a></li>
          <li><a href="#" class="green" title="Green"></a></li>
          <li><a href="#" class="orange" title="Orange"></a></li>
          <li><a href="#" class="navy" title="Navy"></a></li>
          <li><a href="#" class="yellow" title="Yellow"></a></li>
          <li><a href="#" class="peach" title="Peach"></a></li>
          <li><a href="#" class="beige" title="Beige"></a></li>
          <li><a href="#" class="purple" title="Purple"></a></li>
          <li><a href="#" class="celadon" title="Celadon"></a></li>
          <li><a href="#" class="red" title="Red"></a></li>
          <li><a href="#" class="brown" title="Brown"></a></li>
          <li><a href="#" class="cherry" title="Cherry"></a></li>
          <li><a href="#" class="cyan" title="Cyan"></a></li>
          <li><a href="#" class="gray" title="Gray"></a></li>
          <li><a href="#" class="olive" title="Olive"></a></li>
        </ul>
      </div>
        
    </div>
</html>

